// Place all the styles related to the Cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: black;
	width: 100%;
}

.viewport {
	position: relative;
	height: 70%;
}

.view-buttons {
	position: absolute;
	z-index: 1;
}

.slideshow-wrapper {
	position: absolute;
}

.customizer-container {
	height: 100%;
	background-color: red;
	margin: 0 auto;
}

.customizer-left {
	height: 100%;
	background-color: gray;
}

.customizer-right {
	height: 100%;
	background-color: green;
}

#model-choice {
	background-color: black;
	height: 100%;
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

#dropdown-models {
	background-color: black;
	height: 465px;
	width: 925px;
	background-image:url("dropdown-models.png");
	border: 4px solid gray;
}

#dropdown-why-mini {
	background-color: black;
	height: 477px;
	width: 571px;
	background-image:url("dropdown-why-mini.png");
	border: 4px solid gray;
}

#dropdown-shopping-tools {
	background-color: black;
	height: 380px;
	width: 837px;
	background-image:url("dropdown-shopping-tools.png");
	border: 4px solid gray;
}

#dropdown-owners {
	background-color: black;
	height: 397px;
	width: 839px;
	background-image:url("dropdown-owners.png");
	border: 4px solid gray;
}

.tabs-content {
	background-color: black;
	height: 20%;
	overflow: auto;
}

#panel-colors {
}

#panel-wheels {
}

#panel-equipment {
}

.color-choice {
	height: 100px;
	width: 100px;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

.color-red {
	background-image: image-url("red-color-med.png");
}

.color-selected {
	border: 3px solid yellow;
}

.color-selected:hover {
	border: 3px solid yellow;
}

.color-white {
	background-image: image-url("white-color-med.png");
}

.color-blue {
	background-image: image-url("blue-color-med.png");
}

.color-radio {
	/*display: none;*/
}