// Place all the styles related to the Cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index-heading {
	text-align: center;
	background-color: blue;
	height: 200px;
	padding-top: 100px;
}

.car-panel-1 {
	background-color: red;
	height: 550px;
	text-align: center;
	padding-top:200px;
}

.car-panel-2 {
	background-color: green;
	height: 550px;
	text-align: center;
	padding-top:200px;
}

#dropdown-models {
	background-color: black;
	height: 465px;
	width: 925px;
	background-image:url("dropdown-models.png");
}

#dropdown-why-mini {
	background-color: black;
	height: 477px;
	width: 571px;
	background-image:url("dropdown-why-mini.png");
}

#dropdown-shopping-tools {
	background-color: black;
	height: 380px;
	width: 837px;
	background-image:url("dropdown-shopping-tools.png");
}

#dropdown-owners {
	background-color: black;
	height: 397px;
	width: 839px;
	background-image:url("dropdown-owners.png");
}

#top-bar-1 {
	padding-left: 20%;
}