<div class="customizer-container large-10">

		<div class="customizer-left large-8 columns">
			<div>
				CUSTOM LEFT
			</div>
		</div>

		<div class="customizer-right large-4 columns">
			<div>
				CUSTOM RIGHT
			</div>
		</div>
</div>