<% content_for :title, "MINI - Configure your car" %>

<div class="customizer-container large-9">

		<div class="customizer-left large-9 columns">
      <div class="viewport">
        <div class="view-buttons">
          <a href="#" onclick="buttonFront()" class="button tiny">Front</a>
          <a href="#" onclick="buttonBack()" class="button tiny">Back</a>
          <a href="#" onclick="buttonInt()" class="button tiny">Interior</a>
        </div>
  			<div class="slideshow-wrapper">
  			  <div class="preloader"></div>
  				<ul class="orbit-slider" data-options="slide_number:false;
                                                 bullets:false;
                                                 timer:false; 
                                                 next_on_click:false;
                                                 animation:fade;
                                                 navigation_arrows:false;" data-orbit>
  				  <li class="orbit-img-front">
  					<%= image_tag("Blue-16inch-6-star-twin-spoke-black-front.png") %>
  				    <div class="orbit-caption">
  				      Exterior Front
  				    </div>
  				  </li>
  				  <li class="orbit-img-back">
  				    <%= image_tag("Backblue-16inch-6-star-twin-spoke-black-back.png") %>
  				    <div class="orbit-caption">
  				      Exterior Back
  				    </div>
  				  </li>
  				  <li class="orbit-img-interior">
  				    <%= image_tag("Interior-carbon.png") %>
  				    <div class="orbit-caption">
  				      Interior
  				    </div>
  				  </li>
  				</ul>
  			</div>
      </div> <!-- viewport -->

      <ul class="tabs" data-tab>
        <li class="tab-title active"><a href="#panel-colors">Colors</a></li>
        <li class="tab-title"><a href="#panel-wheels">Wheels</a></li>
        <li class="tab-title"><a href="#panel-options">Options</a></li>
      </ul>
      <div class="tabs-content">
        <div class="content active" id="panel-colors">
          <div data-tooltip title="Blazing Red" class="has-tip tip-top color-red color-choice color-selected"></div>
          <div data-tooltip title="Pepper White" class="has-tip tip-top color-white color-choice"></div>
          <div data-tooltip title="Deep Blue" class="has-tip tip-top color-blue color-choice"></div>
          <form>
            <input class="color-radio" id="red-radio" name="color-radio" value="red" type="radio" checked />
            <input class="color-radio" id="white-radio" name="color-radio" value="white" type="radio"  />
            <input class="color-radio" id="blue-radio" name="color-radio" value="blue" type="radio"  />
          </form>
        </div>
        <div class="content" id="panel-wheels">
          <h1>Wheels</h1>
          <form>
            <input class="wheel-radio" id="wheel1" name="wheel-radio" value="wheel1" type="radio" checked />Wheel1
            <input class="wheel-radio" id="wheel2" name="wheel-radio" value="wheel2" type="radio"  />Wheel2
            <input class="wheel-radio" id="wheel3" name="wheel-radio" value="wheel3" type="radio"  />Wheel3
          </form>
        </div>
        <div class="content" id="panel-options">
          <h1>Options</h1>
          <form>
            <input class="options" name="options" value="option1" type="checkbox" checked />Option1
            <input class="options" name="options" value="option2" type="checkbox"  />Option2
            <input class="options" name="options" value="option3" type="checkbox"  />Option3
          </form>
        </div>
      </div>

		</div> <!-- customizer-left -->

		<div class="customizer-right large-3 columns">
			<div>
				CUSTOM RIGHT
			</div>
		</div> <!-- customizer-right -->

</div>

<script>

function buttonFront() {
  console.log("button1");
  $('.orbit-img-front').addClass("active"); 
  $('.orbit-img-back').removeClass("active"); 
  $('.orbit-img-interior').removeClass("active"); 
}

function buttonBack() {
  console.log("button2");
  $('.orbit-img-front').removeClass("active"); 
  $('.orbit-img-back').addClass("active"); 
  $('.orbit-img-interior').removeClass("active"); 
}

function buttonInt() {
  console.log("button3");
  $('.orbit-img-front').removeClass("active"); 
  $('.orbit-img-back').removeClass("active"); 
  $('.orbit-img-interior').addClass("active"); 
}

$('.color-red').click(function() {
  $('.color-red').addClass("color-selected");
  $('#red-radio').prop("checked", true);
  $('.color-blue').removeClass("color-selected");
  $('.color-white').removeClass("color-selected");
});

$('.color-white').click(function() {
  $('.color-red').removeClass("color-selected");
  $('#white-radio').prop("checked", true);
  $('.color-blue').removeClass("color-selected");
  $('.color-white').addClass("color-selected");
});

$('.color-blue').click(function() {
  $('.color-red').removeClass("color-selected");
  $('#blue-radio').prop("checked", true);
  $('.color-blue').addClass("color-selected");
  $('.color-white').removeClass("color-selected");
});

</script>