<% content_for :title, "MINI - Configure your car" %>

<div ng-app="carApp" ng-controller="OptionsListCtrl" ng-init="init(<%=@colors.to_json%>,<%=@wheels.to_json%>,<%=@interiors.to_json%>,<%=@equips.to_json%>)" class="customizer-container large-9 fade" ng-class="{in:true}" >

		<div class="customizer-left large-9 columns">
      <div class="viewport" ng-style="viewportBackground()">
        <div class="view-buttons">
          <a href="#" ng-click="viewPortSelected='front';" class="button tiny radius" ng-class="{'button-active' : viewPortSelected=='front'}">Front</a>
          <a href="#" ng-click="viewPortSelected='rear';"  class="button tiny radius" ng-class="{'button-active' : viewPortSelected=='rear'}">Rear</a>
          <a href="#" ng-click="viewPortSelected='interior';"  class="button tiny radius" ng-class="{'button-active' : viewPortSelected=='interior'}">Interior</a>
        </div>
      </div> <!-- viewport -->
      <br />
      <ul class="tabs" data-tab>
        <li ng-click="toFrontView()" class="tab-title active"><a href="#panel-colors">Colors</a></li>
        <li ng-click="toFrontView()" class="tab-title"><a href="#panel-wheels">Wheels</a></li>
        <li ng-click="viewPortSelected='interior';" class="tab-title"><a href="#panel-interior">Interior</a></li>
        <li class="tab-title"><a href="#panel-equipment">Equipment</a></li>
      </ul>
      <div class="tabs-content">
        <div class="content active" id="panel-colors">
          <div ng-repeat="color in colors" back-img="{{color.icon}}" ng-click="pickColor($index,color)" data-tooltip title="<strong>{{color.name}}</strong> <p>{{color.desc}}</p>" class="has-tip tip-top choice" ng-class="{'selected' : $index == colorSelected}">          
          </div>
        </div>    
        <div class="content" id="panel-wheels">
          <div ng-repeat="wheel in wheels" back-img="{{wheel.icon}}" ng-click="pickWheel($index,wheel)" data-tooltip title="<strong>{{wheel.name}}</strong> <p>{{wheel.desc}}</p>" class="has-tip tip-top choice" ng-class="{'selected' : $index == wheelSelected}">          
          </div>
        </div>  
        <div class="content" id="panel-interior">
          <div ng-repeat="interior in interiors" back-img="{{interior.icon}}" ng-click="pickInterior($index,interior)" data-tooltip title="<strong>{{interior.name}}</strong> <p>{{interior.desc}}</p>" class="has-tip tip-top choice" ng-class="{'selected' : $index == interiorSelected}">          
          </div>
        </div>
        <div class="content" id="panel-equipment">
          <div ng-repeat="equip in equips" back-img="{{equip.icon}}" ng-click="toggleEquipment(equip)" data-tooltip title="<strong>{{equip.name}}</strong> <p>{{equip.desc}}</p>" class="has-tip tip-top choice" ng-class="{'selected' : hasEquipment(equip)}">            
          </div>
        </div>
      </div>
		</div> <!-- customizer-left -->

		<div class="customizer-right large-3 columns">
			<div class="options-list">
				<h1>Your Mini</h1>
        <hr>
        <ul>
          <li ng-repeat="option in options track by $index">
            <span class="option-name">{{option.name}}</span><span class="price">{{option.price}}<span>
          </li>
        </ul>
      </div>
      <div class="options-total">
        <hr>
        <h3>Total MSRP</h3>
        <h3><strong>${{total | number:2}}</strong></h3>
      </div>
      <div class="save-button">
        <a href="#" data-reveal-id="saveModal" class="button radius">Save Car</a>
      </div>
      <div id="saveModal" class="reveal-modal small" data-reveal>
        <h1>Thanks For Watching!</h1>
        <img src="/assets/mini-cooper-logo.jpg">
        <a class="close-reveal-modal">&#215;</a>
      </div>
		</div> <!-- customizer-right -->
    
</div>